body {
    background-color: #d8eb83;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-slide {
    width: 300px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.content {
    text-align: center;
}

#text {
    font-size: 1.5em;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
}

.prev-btn {
    left: -60px;
}

.next-btn {
    right: -60px;
}
